body{
	background-color: rgb(38, 38, 38);
	margin: 0;
}

#head{
	text-align: center;
	background-color: steelblue;
	background-attachment: fixed;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 140%;

}

#head h1{
	font-weight: normal;
}

#discolor{
	font-size: 160%;
	font-weight: bold;
}

#mid,#aws{
	color: black;
	background: white;
	width: 100%;
	text-align: center;
}

#aws{
	width: 50%;
	display: inline-block;
	text-transform: uppercase ;
}	

button{
	border :none;
	background-color:white;
	color: steelblue;
	font-size: inherit;
	font-weight: 700;
	margin: auto;
	padding: auto;
	height: 30px;
	text-transform: uppercase ;
	transition: all 0.5s;
	outline:none;
}

button:hover{
	background-color:steelblue;
	color: white;
}

.box{
	background:gold;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.5%;
	border-radius: 15%;
	transition: all 0.7s;

}

#bot{
	margin:20px auto;
}

.center{
	margin:0px auto;
	max-width: 600px;
	padding: 0;

}

h1{
	padding: 0;
	margin: 0;
	padding: 15px;

}

h1,span{
	color: white;
}

.blue{
	background-color: steelblue;
	color: white;
}
